.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-1);
  justify-content: left;
  max-inline-size: 70rem;
  width: 100%;
}

.container > * {
  flex-grow: 1;
  justify-content: left;
}

@media (max-width: 480px) {
  .container {
    gap: 0;
  }
}